body{
	background: url('bgCV.jpg');
	background-size: contain;
	background-position: 90% 0%;
	background-repeat: no-repeat;
	background-size: 30%;
}
.container{
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	background: #aaaaaa70;
	padding: 20px;
	margin: 40px;
	width: 50%;
}