body{
	background: url('graduation.jpg');
	background-size: cover;
	background-position: right center;
}
.container{
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	background: #aaaaaa70;
	padding: 20px;
	margin: 40px;
	width: 21%;
}