body{
	background: url('bgcontact page.jpg');
	background-size: cover;
	background-position: right-side;
}
.container{
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	background: #aaaaaa70;
	padding: 20px;
	margin: 40px;
	width: 30%;
}
